/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus{
  outline: 2px dashed #ff7500;
}

body  {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto' 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  background-color: #fff;
  color: #000;
  border-top: 5px solid #ff7500;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}

/* BUTTON */

.sitenav-button {
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  background-color: #ff7500;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

/* HEADER */

.site-logo {
  margin-right: auto;
  align-self: center;
  transition: opacity 0.3s ease;
}

.site-logo-img{
  display: block;
}

.sitenav-wrapper {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
}

.sitenav {
  display: flex;
  list-style: none;
  gap: 32px;
  padding: 0;
  margin: 0;
  margin-right: 32px;
}

.sitenav-item {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 1px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.sitenav-bottom{
  border-bottom: 3px solid #ff7500;
  padding-bottom: 4px;
}

.site-logo:hover{
  opacity: 0.8;
}

.site-logo:active{
  opacity: 0.6;
}

.sitenav-item:hover {
  opacity: 0.8;
}

.sitenav-item:active {
  opacity: 0.6;
}

.sitenav-button:hover {
  opacity: 0.8;
}

.sitenav-button:active {
  opacity: 0.6;
}

/* SITE-HERO */

.site-hero-background {
  display: flex;
}

.site-hero {
  background-color: #252420;
}

.site-hero-content {
  flex-direction: column;
  margin-top: 80px;
  margin-right: 203px;
}

.site-hero-hr {
  display: inline-block;
  align-self: flex-start;
  border: none;
  width: 80px;
  height: 3px;
  background-color: #ff7500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.site-hero-hr:hover {
  width: 100px;
}

.site-hero-title {
  padding: 0;
  margin: 0;
  width: 339px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
}

.site-hero-text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #fff;
  width: 387px;
}

.site-hero-img {
  width: 500px;
  height: 500px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 60%);
  margin-top: 40px;
  margin-bottom: -59px;
}

/* SITE-FEATURE */

.site-feature-title-wrapper {
  flex-direction: column;
  margin-top: 147px;
  margin-bottom: 72px;
}

.site-feature-title {
  width: 435px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
}

.site-feature-list {
  list-style: none;
  display: flex;
  gap: 66px;
  margin: 0;
  padding: 0;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-feature-item-title {
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.site-feature-item-text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 314px;
}

/* SITE-SALE */

.site-sale {
  display: flex;
  background-color: #252420;
  border-radius: 12px;
  margin-top: 300px;
  padding
}

.site-sale-wrapper {
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 64px;
}

.site-sale-title {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  width: 339px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
}

.site-sale-text {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 12px;
}

.site-sale-text-extra {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

strong {
  color: #ff7500;
}

.site-sale-img {
  width: 440px;
  height: 440px;
  margin-top: -85px;
  border-radius: 12px;
}

/* SITE-FOOTER */

.site-footer {
  background-color: #f8f8f8;
  margin-top: 160px;
}

.footer-top-wrapper {
  display: flex;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(37, 36, 32, 0.5);
  margin-left: -50px;
  margin-right: -50px;
}

.socials-list {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.socials-list-item a {
  display: block;
}

.socials-list-item svg {
  display: block;
}

/* FOOTER-NAV */

.footer-nav {
  display: inline-flex;
  gap: 68px;
  margin-top: 64px;
  margin-left: -50px;
  margin-right: -50px;
}

.footer-nav-list {
  list-style: none;
  width: 224px;
  padding: 0;
  margin: 0;
  padding-bottom: 56px;
}

.footer-nav-item {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #252420;
  transition: all 0.3s ease;
}

.footer-nav-item:hover {
  opacity: 0.6;
}

.footer-nav-item:active {
  opacity: 0.8;
}